* {
    margin: 0;
    padding: 0;
}

.primeira-section {
    background-color: grey;
}

.segunda-section {
    background-color: white;
}

.terceira-section {
    background-color: rgb(55, 131, 175);
}

.quarta-section {
    background-color: black;
    color: white;
}
.destaque-azul {
    color: aqua;
}
.destaque-cinza-underline {
    text-decoration: underline;
    color: grey;
}

.first-servicos {
    background-color: rgb(25, 39, 97);
    color: white;
}

.second-servicos {
    background-color: rgb(61, 90, 207);
    color: white;
}

.third-servicos {
    background-color: rgb(36, 137, 184);
    color: white;
}

.fourth-servicos {
    background-color: rgb(27, 138, 146);
    color: white;
}

.fifth-servicos {
    background-color: rgb(18, 209, 216);
    color: white;
}