/* Links , padrões e Resets */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    min-height: 100%;

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



.titulo-librebaskerville {
    font-family: "Libre Baskerville", serif;

}

/* Primeira Seção ------------------------------------------------------ */


header {
    display: flex;
    flex-direction: column;
    background-image: url(imgs/img2.png);
    background-size: cover;
    background-position: center;
    height: 80svh;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    transition: top 100s;
    position: fixed;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5158263989189426) 0%, rgba(0,212,255,0) 100%);  
}

li {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
  }

ul {

display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;


}

.header-nav-logo {
    max-width: 200px;
}

.header-content{
    margin-top: 20px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60svw;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 1.75rem;

}

.header-titulo {
    font-family: "Libre Baskerville", serif;
    font-size: 3.5em;
}

.header-texto {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    width: 35vw;
    text-align: justify;
     
}

/* Segunda Seção ------------------------------------------------------- */ 

.sobrenos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 720px;
    overflow: hidden;
    padding-inline: 150px;
}

.sobrenos-quadrado1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 25svw;
    height: 250px;
    border: 15px solid #87B1C1;  
}

.sobrenos-img img{
    max-width: 35vw;
}

.sobrenos-quadrado2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 25svw;
    height: 250px;
    border: 15px solid #6b6d6e;    
}


.sobrenos-titulo1 {
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
    width: 360px

}

.sobrenos-titulo2 {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;

}

.sobrenos-texto1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 360px;
}

.sobrenos-texto2 {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.sobrenos-img {
    align-items: center;

}

.buildings-background{
    height: 450px;
    background-image: url("./imgs/img3.png");
    background-position: center;
}

/* terceira seção -------------------------------------------------------- */

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #87B1C1;
    height: 600px;
}

.servicos-titulo { 
    text-decoration: underline;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Libre Baskerville", serif;
    font-size: 35px;

}

.servicos-divs {
    display: flex;
    width: 80sw;
}

.servicos-titulos-divs {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;    
    color: rgb(255, 255, 255);
    padding: 20px;
}

.servicos-textos-divs {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    padding: 20px;
    text-align: justify;
}

.first-servicos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(25, 39, 97);
    color: white;
    width: 247px;
    height: 400px;
}

.second-servicos {
    background-color: rgb(61, 90, 207);
    color: white;
    width: 247px;
    height: 400px;
}

.third-servicos {
    background-color: rgb(36, 137, 184);
    color: white;
    width: 247px;
    height: 400px;
}

.fourth-servicos {
    background-color: rgb(27, 138, 146);
    color: white;
    width: 247px;
    height: 400px;
}

.fifth-servicos {
    background-color: rgb(100, 143, 144);
    color: white;
    width: 247px;
    height: 400px;
}








/* Quarta Seção ----------------------------------------------------- */


.contatos {
    background-image: url(imgs/img4.png);
    opacity: 1;
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.contatos_titulo {
    align-self: center;
    margin-top: 1%;
    font-size: 40px;
}

.div_contatos_telefone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.div_contatos_endereço {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 400px;

}

.div_contatos_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.div_contatos_textos {
    display: flex;
    justify-content: center;
    gap: 70px;
}

h5 {
    font-size: 30px;
}

.div_contatos_texto_telefone {
    font-size: 20px;

}

.div_contatos_texto_endereço {
    font-size: 20px;
}

.div_contatos_texto_email {
    font-size: 20px;
}

.destaque-azul {
    color: rgb(93, 207, 207);
}


footer {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #6b6d6e;
    color: rgb(255, 255, 255);

}