/* Links , padrões e Resets */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    min-height: 100%;

}

main {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    
}

.titulo-librebaskerville {
    font-family: "Libre Baskerville", serif;

}

.nav {
    display: flex;
    transition: top 100s;
    position: fixed;
}

.nav-link {
    text-decoration: none;
    color: white;

}


/* Primeira Seção ------------------------------------------------------ */


.header {
    
    background-image: url(imgs/img2.png);
    background-size: cover;
    background-position: center;
    height: 480px;
    color: white;
    
}

.header-titulo {
    font-family: "Libre Baskerville", serif;
    font-size: 32px;

}

.header-texto {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
     
}

/* Segunda Seção ------------------------------------------------------- */ 

.sobrenos {
    display: flex;
    background-color: white;
    height: 720px;
}

.sobrenos-titulo1 {
    font-family: "Libre Baskerville", serif;
    font-size: 35px;

}

.sobrenos-titulo2 {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;

}

.sobrenos-texto1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.sobrenos-texto2 {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.sobrenos-img {
    align-items: center;

}

/* terceira seção -------------------------------------------------------- */

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #87B1C1;
    height: 950px;
}

.servicos-titulo { 
    text-decoration: underline;
    justify-content: center;
    color: grey;
    font-family: "Libre Baskerville", serif;
    font-size: 35px;

}

.servicos-divs {
display: flex;

}

.servicos-titulos-divs {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;    
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.servicos-texto-divs {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.first-servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(25, 39, 97);
    color: white;
    width: 247px;
    height: 615px;
}

.second-servicos {
    background-color: rgb(61, 90, 207);
    color: white;
    width: 247px;
    height: 615px;
}

.third-servicos {
    background-color: rgb(36, 137, 184);
    color: white;
    width: 247px;
    height: 615px;
}

.fourth-servicos {
    background-color: rgb(27, 138, 146);
    color: white;
    width: 247px;
    height: 615px;
}

.fifth-servicos {
    background-color: rgb(18, 209, 216);
    color: white;
    width: 247px;
    height: 615px;
}








/* Quarta Seção ----------------------------------------------------- */


.quarta-section {
    background-color: black;
    color: white;
    height: 220px;
}



/*  
font-family: "Open Sans", sans-serif; 
font-family: "Libre Baskerville", serif;



*/

.destaque-azul {
    color: aqua;
}