/* Links , padrões e Resets */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.titulo-librebaskerville {
    font-family: "Libre Baskerville", serif;
}

/* Primeira Seção ------------------------------------------------------ */

header {
    display: flex;
    flex-direction: column;
    background-image: url(../imgs/img2.png);
    background-size: cover;
    background-position: center;
    height: 80svh;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5158263989189426) 0%, rgba(0,212,255,0) 100%);  
    animation: fadeInDown 1.25s;
}

li {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.highlighted{
    color: rgb(67, 98, 221);
    transition: .5s;
}

.header-nav-logo {
    max-width: 200px;
}

.header-content{
    margin-top: 20px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60svw;
    animation: fadeInUp 1.25s;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    font-size: 1.75rem;
}

.header-titulo {
    font-family: "Libre Baskerville", serif;
    font-size: 3.5em;
}

.header-texto {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    width: 35vw;
    text-align: justify;  
}

/* Segunda Seção ------------------------------------------------------- */ 

.sobrenos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    padding: 50px;
    height: 25vw;
}

.sobrenos-quadrado1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 25svw;
    border: 15px solid #87B1C1;  
}

.sobrenos-img img{
    max-width: 30vw;
}

.sobrenos-quadrado2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 25svw;
    border: 15px solid #6b6d6e;    
}


.sobrenos-titulo1 {
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
}

.sobrenos-titulo2 {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
}

.sobrenos-texto1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.sobrenos-texto2 {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.sobrenos-img {
    align-items: center;
}

.buildings-background{
    height: 450px;
    background-image: url("../imgs/img3.png");
    background-position: center;
}

/* terceira seção -------------------------------------------------------- */

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: #87B1C1;
    gap: 25px;
    padding: 25px;
    overflow-x: hidden;
    height: 30vw;
}

.servicos-titulo { 
    text-decoration: underline;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
}

.servicos-divs {
    display: flex;
    max-width: 90svw;
}

.servicos-titulos-divs {
    font-family: "Libre Baskerville", serif;
    font-size: 25px;    
    color: rgb(255, 255, 255);
    padding: 20px;
}

.servicos-textos-divs {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    padding: 20px;
    text-align: justify;
}

.first-servicos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(25, 39, 97);
    color: white;
    width: 247px;
}

.second-servicos {
    background-color: rgb(61, 90, 207);
    color: white;
    width: 247px;
}

.third-servicos {
    background-color: rgb(36, 137, 184);
    color: white;
    width: 247px;
}

.fourth-servicos {
    background-color: rgb(27, 138, 146);
    color: white;
    width: 247px;
}

.fifth-servicos {
    background-color: rgb(100, 143, 144);
    color: white;
    width: 247px;
}

/* Quarta Seção ----------------------------------------------------- */


.contatos {
    background-image: url('../imgs/img4.png');
    opacity: 1;
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.contatos_titulo {
    align-self: center;
    margin-top: 1%;
    font-size: 40px;
}

.div_contatos_telefone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.div_contatos_endereço {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 400px;
}

.div_contatos_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.div_contatos_textos {
    display: flex;
    justify-content: center;
    gap: 70px;
}

h5 {
    font-size: 30px;
}

.div_contatos_texto_telefone {
    font-size: 20px;
}

.div_contatos_texto_endereço {
    font-size: 20px;
}

.div_contatos_texto_email {
    font-size: 20px;
}

.destaque-azul {
    color: rgb(93, 207, 207);
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #363637;
    color: rgb(255, 255, 255);
    height: 25px;
    font-size: 15px;
}

@media (max-width: 480px){ 

    body{ overflow-x: hidden;}

    header {  
      width: 100%;
      height: 100%;
    }


    .header-nav-logo {
        margin-top: 25px;
        max-width: 170px;
        align-self: center;
    }

    
    .nav-link {
        font-size: 1rem;
    }


    .header-titulo {
        font-family: "Libre Baskerville", serif;
        font-size: 1.25rem;
        overflow: auto;
        width: 75vw;
        align-self: center;
        margin-top: 3rem;
    }

    .header-content{
        margin-top: 20px;
        padding: 80px;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        gap: 25px;
        width: auto;
    }

    .header-texto {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        width: 75vw;
        text-align: justify;
        align-self: center;
        overflow: auto;
    }

    .sobrenos {
        flex-direction: column;
        padding-block: 50px;
    }

    .sobrenos-quadrado1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        gap: 15px;
        width: 100%;
        height: 18rem;
        border: 15px solid #87B1C1;  
    }

    .sobrenos-titulo1 {
        font-family: "Libre Baskerville", serif;
        font-size: 1.5rem;
        width: 100%;
    }

    .sobrenos-texto1 {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        width: 100%;
        text-align: justify;
        font-weight: 600;
        margin-top: 10px;
        overflow: auto;
    }

    .sobrenos-img {
        display: none;
    }

    .sobrenos-quadrado2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        width: 100%;
        gap: 15px;
        height: 18rem;
        border: 15px solid #6b6d6e;    
    }

    .sobrenos-titulo2 {
        font-family: "Libre Baskerville", serif;
        font-size: 1.5rem;
        width: 100%;
        overflow: auto;
    }

    .sobrenos-texto2 {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        text-align: justify;
        overflow: auto;
    }

    .buildings-background{
        height: 10rem;
        background-image: url("../imgs/img3.png");
    }

    .servicos {
        padding-block: 25px;
        height: auto;
    }

    .first-servicos, .second-servicos, 
    .third-servicos, .fourth-servicos, .fifth-servicos{
        width: 100%;
    }

    .servicos-titulo { 
        font-size: 2rem;
    }    

    .servicos-divs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .servicos-textos-divs {
        font-family: "Open Sans", sans-serif;
        font-size: 0.95rem;
        padding: 20px;
        text-align: justify;
        font-weight: 300;
    }

    .contatos {
        height: 35rem;
        gap: 30px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .contatos_titulo {
        align-self: center;
        margin-top: 10%;
        font-size: 40px;
    }

    .div_contatos_textos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .div_contatos_texto_endereço {
        font-size: 1.3rem;
        overflow: auto;
        width: 57svw;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 1024px){

    header {  
      width: 100%;
    }

    .header-nav-logo {
        margin-top: 1vw;
        max-width: 35vw;
        align-self: center;
        justify-self: center;
    }

    
    .nav-link {
        text-decoration: none;
        font-family: "Libre Baskerville", serif;
        font-size: 3.5vw;
    }


    .header-titulo {
        font-family: "Libre Baskerville", serif;
        font-size: 5vw;
        overflow: auto; 
    }

    .header-content{
        margin-top: 20px;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 50px;
    }

    .header-texto {
        font-family: "Open Sans", sans-serif;
        font-size: 3.2vw;
        font-weight: 500;
        width: auto;
        text-align: justify;
        overflow: auto;    
    }

    .sobrenos {
        flex-direction: column;
        height: 135vw;
        padding-block: 50px;
    }

    .sobrenos-quadrado1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        width: 55vw;
        height: 50vw;
        border: 15px solid #87B1C1;  
    }

    .sobrenos-titulo1 {
        font-family: "Libre Baskerville", serif;
        font-size: 3.5vw;
    }

    .sobrenos-texto1 {
        font-family: "Open Sans", sans-serif;
        font-size: 2.7vw;
        width: 55vw;
        text-align: justify;
        font-weight: 600;
        overflow: auto;
    }

    .sobrenos-img {
        display: none;
    }

    .sobrenos-quadrado2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 55vw;
        height: 50vw;
        border: 15px solid #6b6d6e;    
    }

    .sobrenos-titulo2 {
        font-family: "Libre Baskerville", serif;
        font-size: 3.7vw;
        width: 60svw;
        overflow: auto;
    }

    .sobrenos-texto2 {
        font-family: "Open Sans", sans-serif;
        font-size: 3.2vw;
        font-weight: 500;
        text-align: justify;
        overflow: auto;
    }

    .buildings-background{
        height: 30vw;
        background-image: url("../imgs/img3.png");
    }

    .servicos {
        padding-block: 25px;
        height: auto;
    }

    .servicos-titulo { 
        font-size: 4.5vw;
    }    

    .servicos-divs {
        display: flex;
        flex-direction: column;
        width: 80sw;
        gap: 1rem;
    }

    .servicos-textos-divs {
        font-size: 2.7vw;
    }

    .servicos-titulos-divs {
        font-size: 3.7vw;    
    }

    .first-servicos, .second-servicos, .third-servicos, .fourth-servicos, .fifth-servicos {
        width: 72vw;
    }

    .contatos {
        height: 70vw;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .contatos_titulo {
        font-size: 5vw;
    }

    .div_contatos_textos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6vw;
    }

    .div_contatos_texto_endereço {
        font-size: 1.3rem;
        overflow: auto;
    }

    h5 {
        font-size: 4vw;
    }
}

@media (min-width: 1025px) and (max-width: 1300px){

    .sobrenos-img img{
       display: none;
    }
}

@keyframes fadeInUp {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes fadeInDown {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}